@font-face {
	font-family: 'Gotham';
	src: url('../font/gotham.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham-Light';
	src: url('../font/gothamlight.otf') format('opentype');
}

body {
	font-family: Gotham,Verdana,sans-serif;
	line-height: 1.5;
	color: #444;
}

.survey-background {
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	min-height: calc(100vh - 0px);
	width: 100%;
	height: 100%;
	padding: 50px 0 50px 0;
	text-align: center;
}

.survey-container {
	overflow: hidden;
	position: relative;
	min-height: 450px;
	background-color: rgba(255,255,255,.9);
	max-width: 960px;
	padding: 15px 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	border-radius: 3px;
	box-shadow: 0 0 40px 10px rgba(0,0,0,.5);
}

.survey-container h1 {
	/*font-family: Gotham,gotham,Verdana,sans-serif;*/
	font-size: 1.8em;
	margin-bottom: 30px;
	line-height: 1.3;
	font-weight: 700;
}

.survey-container p {
	margin-top: -25px;
	margin-bottom: 30px;
	font-size: 100%;
	font-family: Gotham-Light,Verdana,sans-serif;
}

.survey-button-primary {
	display: block;
	padding: 1em 2em;
	width: 100%;
	max-width: 300px;
	margin: 10px auto 0;
	line-height: 22.5px;
	background: #0074e4;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	/*display: inline-block;
	padding: .4em .67em;*/
	text-align: center;
	white-space: normal;	
}

a.survey-button-primary {
	font-weight: 300;
	text-decoration: none;	
}

.survey-button-primary:hover {
	background: linear-gradient(to top,#0074e4,#1b5098);
	background-repeat: repeat-x;
	color: #fff;
	border-color: transparent;
	box-shadow: none;
	outline: 0;
}

.survey-button-selected {
	position: relative;
	background: linear-gradient(to top,#0074e4,#1b5098);
	background-repeat: repeat-x;
	border-color: #1b5098;
	color: #fff;
	box-shadow: 0 0 5px #0074e4;
}

a.survey-button-selected {
	font-weight: 700;
	text-decoration: none;
}

.survey-icon-check::before {
	font-family: FontAwesome;
	position: absolute;
	left: 15px;
	font-size: 20px;
	content: "\f00c";
	/*font-weight: 0 !important;*/
}

.survey-toggles {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	padding-left: 0;
	margin-bottom: 15px;
}

.survey-toggles li {
	list-style: none;
}

.survey-toggles li label {
	display: inline-block;
	border: 1px solid #666;
	background: #fff;
	color: #444;
	border-radius: 100px;
	margin-left: 10px;
    cursor: pointer;
    padding: .4em 1.33em;
    margin-bottom: 10px;
    font-family: Gotham-Light,Verdana,sans-serif;
}

.survey-toggles li label.selected {
	background-color: #74c005;
	border: 1px solid #999;
	color: white;
}

.survey-toggles li label:hover {
	border-color: #ccc;
}

.survey-toggles li label.selected:hover {
	border: 1px solid #999;
}

.survey-input-area {

}

.survey-input-overlay {
	max-width: 300px;
	margin: auto;
	position: relative;
}

.survey-input-overlay-left {
	top: 11px;
	left: 9px;
	position: absolute;
	color: #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-family: Gotham-Light,Verdana,sans-serif;
}
		
.survey-input-overlay input {
	padding: 9px 12px;
	height: 43px;
	line-height: 1.5em;
	width: 100%;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: inset 0 2px 2px #f4f4f4,0 0 0 #7fb9f1;
	font-family: Gotham,Verdana,sans-serif;
}

.survey-input-overlay input:focus {
	outline: 0;
	transition: box-shadow .3s;
	box-shadow: inset 0 0 0 #f4f4f4,0 0 5px #7fb9f1;
	border-color: #0074e4;
	background-color: #fff;	
}

p.survey-input-error {
	visibility: hidden;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
	color: #c00;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.input-error {
	border-color: #c00 !important;
	background-color: #fae6e6 !important;
	box-shadow: none !important;
}

.input-error:hover {
	background-color: white !important;
}

.input-date {
	/*width: 50px;*/
	border: 0px;
}

@media (min-width: 481px) and (max-width: 960px) {
	.survey-container {
		overflow: hidden;
		position: relative;
		min-height: 450px;
		background-color: rgba(255,255,255,.9);
		max-width: 960px;
		padding: 15px 30px;
		/*margin-top: 50px;*/
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		padding: 50px;
		border-radius: 3px;
		box-shadow: 0 0 40px 10px rgba(0,0,0,.5);
	}
}
/*@media (min-width: 992px) and (max-width: 1199px) {*/
@media (max-width: 480px) {
/*@media screen and (-webkit-min-device-pixel-ratio:0) {*/

	.survey-button-primary {
		max-width: 100%;
	}
	.survey-input-overlay {
		max-width: 100%;
	}

	.survey-container {
		overflow: hidden;
		position: relative;
		min-height: 450px;
		/*min-width: 300px;*/
		background-color: rgba(255,255,255,1);
		max-width: 960px;
		padding: 15px 30px;
		/*margin-top: 50px;*/
		margin-left: 0px;
		margin-right: 0px;
		padding: 50px;
		border-radius: 0px;
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	}

	.survey-background {
		/*visibility: hidden;*/
		background-image: none;/*url("../img/background.jpg");*/
		background-size: 100% 100%;
		min-height: calc(100vh - 0px);
		width: 100%;
		height: 100%;
		padding: 50px 0 0 0;
		text-align: center;
	}
}